* {
  box-sizing: border-box;
}

body {
  margin: 3rem;
  font-family: "Muli", sans-serif;
  /* background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 120s ease infinite; */
  background: rgb(30, 17, 38);
  background: linear-gradient(124deg, #1e79ca, #80cefc)
}

@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

h1, h2, h3 {
  font-weight: 900;
}

h1, h2 {
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}

.meetups {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.meetup-logo {
  display: block;
  margin: 0 auto;
}

.event {
  border-radius: 2rem;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.meetup {
  padding: 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meetup.extra {
  padding: 1rem;
}

.meetup-links {
  border-radius: 2rem;
  background-color: #003E6B;
  display: flex;
  justify-content: center;
}

.meetup-link {
  display: block;
  text-decoration: none;
}

.meetup-title {
  text-align: center;
  color: #003E6B;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #DCEEFB;
  margin: 1rem;
  transition: all 0.4s ease;
}

.meetup-link:hover .icon {
  fill: #84C5F4;
}

.add-meetup {
  flex-grow: 1;
  text-decoration: none;
  color: #9FB3C8;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}

.add-meetup:hover {
  color: #0F609B;
}

.plus {
  display: block;
  width: 5rem;
  height: 5rem;
  fill: currentColor;
  border-radius: 50%;
  margin: 2rem;
  border: 3px dashed currentColor;
}

.conf {
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.4s ease;
}

.conf:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.conferences {
  display: grid;
  list-style-type: none;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2rem;
}

.conf-logo {
  margin: 2rem auto;
  border-radius: 50%;
  border: 2px solid white;
}

.conf-card {
  background-color: rgba(255,255,255,1);
  text-decoration: none;
  color: #4098D7;
  padding: 1rem;
  border: 1px solid white;
}

.conf-title {
  font-size: 2rem;
  margin: 0;
}

.conf-location,
.conf-date {
  font-weight: bold;
  margin: 0;
  line-height: 1.7em;
  font-size: 1.2rem;
}

h2 {
  margin-top: 4rem;
}

footer {
  background: white;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-top: 7rem;
}

footer a {
  color: dodgerblue;
  text-decoration: none;
  font-weight: bold;
}
