<a href="{{item.url}}" class="conf event" style="background-image: url({{item.back}})">
  <img class="conf-logo" src="{{item.icon}}" alt="Logo of {{ item.title }}" width="200">
  <div class="conf-card">
    <h3 class="conf-title">{{ item.title }}</h3>
    <p class="conf-location">{{item.location}}</p>
    <p class="conf-date">{{item.date}}</p>
  </div>
</a>
